.tag-profile,
.tag-image,
.tag-video {
  cursor: pointer;
  border-radius: 3px;
  padding: 0 6px;
  background-color: #9090f854;

  &:hover {
    border: 1px solid #ddd;

    /* .tag-icon {
            visibility: visible;
        } */
  }
}
.tag-image {
  background-color: #c6e9bb70;
}
.tag-video {
  background-color: #0d71f138;
}

.tag-icon {
  margin-left: 10px;
  /* visibility: hidden; */
}

/* label */
.cm-tooltip.cm-tooltip-autocomplete {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 150px;
  padding: 5px;
}

.cm-tooltip-autocomplete ul li {
  width: 138px;
}

.cm-tooltip-autocomplete ul li:hover {
  background-color: #f9fafb;
  cursor: pointer;
  width: 140px;
}
