repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: end-of-file-fixer
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: trailing-whitespace
        exclude: ^src/web/pnpm-lock\.yaml$
    -   id: flake8
        args: [--max-line-length=200,--ignore=F403,--ignore=W503]
-   repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
    -   id: black
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
    -   id: prettier
        files: ^src/cook-web/
        types_or: [javascript, jsx, ts, tsx, css, scss, json, markdown, mdx]
        args: ['--config', 'src/cook-web/.prettierrc']
-   repo: https://github.com/commitizen-tools/commitizen
    rev: v4.8.3  # use latest stable version
    hooks:
    -   id: commitizen
        stages: [commit-msg]
        additional_dependencies: ['markupsafe==2.0.1']
