.settingModal {
  display: block;
  padding: 10px;
  font-size: var(--font-size-5);

  .settingRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }

    .rowIcon {
      width: 16px;
    }
  }

  .loginRow {
    .loginLeft {
      display: flex;
      align-items: center;

      .userName {
        margin-left: 5px;
      }
    }
  }
}
