.loginModal {
  :global(.ant-modal-body) {
    padding: 20px 16px 15px 16px;
    color: var(--font-color-main);

    .title {
      text-align: center;
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-bold);
    }

    .formWrapper {
      margin-top: 40px;
    }
  }

  .btnWrapper {
    margin-top: 20px;
  }

  .codeForm {
    position: relative;

    .sendBtn {
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
    }
  }

  .verifyCodeForm {
    position: relative;

    .vcodeImage {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0;
      height: 25px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .aggrementWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: var(--font-size-5);

    .aggrement {
      display: flex;
      flex-flow: row wrap;

      :global(.ant-checkbox-wrapper) {
        font-size: var(--font-size-5);
      }

      .text {
        margin-left: 0.5em;
      }
    }

    .feedback {
      margin-top: 10px;
    }
  }
}

.sfInput,
:global(.ant-input-outlined.ant-input-status-error).sfInput,
:global(.ant-input-status-error).sfInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;

  &:focus {
    box-shadow: none;
  }
}
