.navDrawerWrapper {
  flex: 0 0 auto;

  .navDrawer {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .bodyWrapper {
    flex: 1 1 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
