# the config for api
# General
RESET_PWD_CODE_EXPIRE_TIME=300
CAPTCHA_CODE_EXPIRE_TIME=300
PHONE_CODE_EXPIRE_TIME=300
PHONE_EXPIRE_TIME=1800
LOGGING_PATH="/var/log/ai-asistant.log"
# API Path Prefix
PATH_PREFIX='/api'
SWAGGER_ENABLED=True

# MySQL
SQLALCHEMY_DATABASE_URI='mysql://root:root@ai-shifu-mysql:3306/ai-shifu'
SQLALCHEMY_POOL_SIZE=20
SQLALCHEMY_POOL_TIMEOUT=30
SQLALCHEMY_POOL_RECYCLE=3600
SQLALCHEMY_MAX_OVERFLOW=20

# CORS1
CORS_LOGGING=True

# Redis
REDIS_HOST="ai-shifu-redis"
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD="ai-shifu"
REDIS_USER="root"
REDIS_KEY_PRRFIX="ai-shifu:"
REDIS_KEY_PRRFIX_USER="ai-shifu:user:"
REDIS_KEY_PRRFIX_RESET_PWD="ai-shifu:reset_pwd:"
REDIS_KEY_PRRFIX_CAPTCHA="ai-shifu:captcha:"
REDIS_KEY_PRRFIX_PHONE="ai-shifu:phone:"
REDIS_KEY_PRRFIX_PHONE_CODE="ai-shifu:phone_code:"

# JWT
JWT_KEY="ai-shifu"
TOKEN_EXPIRE_TIME=604800

# Alibaba Cloud
ALIBABA_CLOUD_ACCESS_KEY_ID=""
ALIBABA_CLOUD_ACCESS_KEY_SECRET=""
ALIBABA_CLOUD_SMS_SIGN_NAME=""
ALIBABA_CLOUD_SMS_TEMPLATE_CODE=""
ALIBABA_CLOUD_OSS_ACCESS_KEY_ID=""
ALIBABA_CLOUD_OSS_ACCESS_KEY_SECRET=""

# Langfuse
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST=""

# OpenAI
OPENAI_BASE_URL=""
OPENAI_API_KEY=""
OPENAI_ORG_ID=""

# Baidu ERNIE
ERNIE_API_ID=""
ERNIE_API_SECRET=""

# Baidu Qianfan
QIANFAN_AK=""
QIANFAN_SK=""

# Ali Bailian DashScope
DASHSCOPE_API_KEY=""
DASHSCOPE_BASE_URL=""

# Zhipu BigModel
BIGMODEL_API_KEY=""

# Ping++
PINGPP_SECRET_KEY=""
PINGPP_PRIVATE_KEY_PATH=""




SECRET_KEY="ai-shifu"



# THE CONFIG FOR WEB
# React Base URL
REACT_APP_BASEURL=""
# Default Course ID
REACT_APP_COURSE_ID=""

# Always Show Lesson Tree
REACT_APP_ALWAYS_SHOW_LESSON_TREE="true"
# Wechat App ID
REACT_APP_APP_ID=""
# Eruda
REACT_APP_ERUDA="true"
# Umami
REACT_APP_UMAMI_WEBSITE_ID=""
REACT_APP_UMAMI_SCRIPT_SRC=""
# Port
PORT=5000


# Lark(Feishu)
LARK_APP_ID=""
LARK_APP_SECRET=""
LARK_APP_TOKEN=""

# cook db
COOK_DB_USERNAME=""
COOK_DB_PASSWORD=""
COOK_DB_DATABASE="shifu_cook_prod"
COOK_DB_HOST=""

# cook img fileupload
COOK_IMG_LOCAL_DIR=""
COOK_IMG_OSS_ANAME=""
COOK_IMG_OSS_ENDPOINT=""
COOK_IMG_OSS_BUCKET=""

# cook api env
COOK_USE_API_ENV=""
API_URL_TEST=""
API_URL_PROD=""

# cook log
COOK_LOG_LEVEL="DEBUG"
COOK_LOG_OUT_LEVEL="DEBUG"
COOK_LOG_DIR=""
COOK_LOG_OUT_PATH=""
COOK_LOG_ERR_LEVEL=""
COOK_LOG_ERR_PATH=""
