.ChatMobileHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 12px;
  height: 76px;
  width: 100%;
  box-sizing: border-box;
}
.ChatMobileHeader .logo {
  height: 32px;
}
.iconButtonPopover {
  max-width: 95.55%;
}
@media (min-width: 376px) {
  .iconButtonPopover {
    max-width: 83.27%;
  }
}
.iconButtonPopover :global(.adm-popover-inner) {
  max-width: 100%;
}
