.newChatPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4-1);
  color: var(--font-color-main);
}
.newChatPage.pc {
  display: block;
}
.newChatPage.pad {
  display: block;
}
.newChatPage.m {
  display: block;
}
.newChatPage .chatMobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
}
