.newChatPage {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-flow: row nowrap;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4-1);
  color: var(--font-color-main);

  &.pc {
    display: block;
  }

  &.pad {
    display: block;
  }

  &.m {
    display: block;
  }

  .chatMobileHeader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 990;
  }
}
