.ChatInputSmsCode {
  display: flex;
  justify-content: center;
  padding: 0 10px;

  .inputForm {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;

    .inputWrapper {
      flex: 1 1 auto;
    }

    .subBtn {
      margin-left: 10px;
      width: 100px;
    }
  }
}
