.chatComponents {
  width: 100%;
  height: 100%;
  position: relative;

  :global(.MessageContainer) {
    background-color: var(--color-4);
  }

  :global(.MessageList) {
    padding-bottom: 50px;

    :global(.Bubble.text) {
      white-space: normal;
      p {
        line-height: 1.5em;
      }
      & > p {
        margin-bottom: 1.5em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    :global(.Bubble.text ol), :global(.Bubble.text ul) {
      white-space: normal;
      padding-inline-start: 1em;
      margin: 0;

      :global(li) {
        margin-top: 0.5em;

        :global(p) {
          display: block;
        }
      }
    }
  }
}
