:global(.MessageContainer) {
  .inlineCode {
    padding: 2px 0px;
    color: var(--color-2);
    font-size: 1em;
    background-color: var(--color-3);
    border-radius: 4px;
    font-family: var(--main-font-family);
  }
}
