.courseSection {
  display: flex;
  flex-flow: row nowrap;

  &:first-child {
    .iconWrapper {
      .topLine {
        background-color: transparent;
      }
    }
  }

  &:last-child {
    .iconWrapper {
      .bottomLine {
        display: none;
      }
    }
  }

  &.selected {
    .textArea {
      background-color: var(--color-2);

      .courseTitle {
        color: var(--color-4);
      }

      .label {
        color: var(--color-2);
        background-color: var(--color-4);
      }
    }
  }

  &.available:hover {
    cursor: pointer;
  }

  &.unavailable {
    .textArea {
      .courseTitle {
        color: var(--color-9);
      }

      .label {
        background-color: var(--color-9);
        color: var(--color-4);
      }
    }
  }

  .iconWrapper {
    width: 16px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 0 0 auto;

    &.small {
      .icon {
        width: 4px;
      }

      .topLine {
        height: 14px;
      }
    }

    .topLine {
      width: 1px;
      background-color: var(--color-9);
      height: 8px;
    }

    .icon {
      padding: 5px 0;
      width: 100%;

      .smallIcon {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: var(--color-9);
      }

      .bigIcon {
        width: 16px;
        height: 16px;
      }
    }

    .bottomLine {
      flex: 1 1 auto;
      width: 1px;
      background-color: var(--color-9);
    }
  }

  .textArea {
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    flex: 1 0 0;

    .label {
      display: inline-block;
      text-align: center;
      width: 40px;
      height: 16px;
      line-height: 16px;
      border-radius: 4px;
      font-size: var(--font-size-5);
      padding: 0 2px;
      background: var(--color-8);
      color: var(--color-4);
    }

    .courseTitle {
      display: inline;
      padding-left: 5px;
    }
  }
}
