.scrollWrapper {
  background-image: linear-gradient(to bottom, #fff);

  /* 应用遮罩图像，这里使用的是我们创建的背景渐变 */
  // -webkit-mask-image: linear-gradient(to bottom, black, transparent);
  mask-image: linear-gradient(to bottom, transparent, black, transparent);
  // mask-image: black;

  position: relative;

  .scrollInner {
    &::-webkit-scrollbar {
      display: none;
    }

    height: 100%;
    overflow: hidden;
    z-index: 999;
    position: relative;
  }

  .scrollGroup {
    display: block;
  }

  .selector {
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    width: 100%;
    height: 30px;
    border-top: 1px solid var(--font-color-main);
    border-bottom: 1px solid var(--font-color-main);
    z-index: 900;
  }

  .scrollItem {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
