.ChangeAvatar {
  display: flex;
  justify-content: center;
  align-items: center;

  .avatarUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .avatarContainer {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;

    .editIcon {
      position: absolute;
      display: block;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
    }
  }
}
