.UserSettings {
  background-color: var(--color-4);
  display: flex;
  flex-flow: column nowrap;

  .settingHeader {
    flex: 0 0 auto;
  }

  .settingBody,
  .settingFooter {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 20px;
  }

  .settingBody {
    flex: 1 1 0;
    overflow: auto;

    .basicInfoTitle {
      margin: 20px 0;
      color: var(--font-main-color);
      font-weight: bold;
      font-size: var(--font-size-2);
    }

    .inputUnit {
      margin-top: 20px;
    }

    .settingInput {
      padding: 4px 0 10px 0;
      border-bottom: 1px solid var(--color-9);

      .inputTitle {
        font-size: var(--font-size-5);
        color: var(--color-9);
      }

      .inputElement {
        background: transparent;
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        margin-top: 4px;
        width: 100%;

        color: var(--font-main-color);
        font-size: var(--font-size-4);
      }
    }

    .settingSelect {
      position: relative;
      padding: 4px 0 10px 0;
      border-bottom: 1px solid var(--color-9);

      .icon {
        display: block;
        width: 16px;
        position: absolute;
        top: 6px;
        right: 0;
      }

      .inputElement {
        background: transparent;
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        margin-top: 4px;
        width: 100%;

        color: var(--font-main-color);
        font-size: var(--font-size-4);
      }

      .icon {
      }
    }
  }

  .settingFooter {
    flex: 0 0 auto;
    height: 90px;

    .saveBtn {
      width: 100%;
    }
  }

  .basicInfoWrapper {
    display: block;
  }

  .basicInfoWrapperHidden {
    display: none;
  }
  .centerWrapper {
    width: 335px;
    max-width: 100%;
    padding-bottom: 50px;
    padding-top: 20px;
  }
}
