.UserSettings {
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}
.UserSettings .settingHeader {
  flex: 0 0 auto;
}
.UserSettings .settingBody,
.UserSettings .settingFooter {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 20px;
}
.UserSettings .settingBody {
  flex: 1 1 0;
  overflow: auto;
}
.UserSettings .settingBody .basicInfoTitle {
  margin: 20px 0;
  color: var(--font-main-color);
  font-weight: bold;
  font-size: var(--font-size-2);
}
.UserSettings .settingBody .inputUnit {
  margin-top: 20px;
}
.UserSettings .settingBody .settingInput {
  padding: 4px 0 10px 0;
  border-bottom: 1px solid var(--color-9);
}
.UserSettings .settingBody .settingInput .inputTitle {
  font-size: var(--font-size-5);
  color: var(--color-9);
}
.UserSettings .settingBody .settingInput .inputElement {
  background: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  margin-top: 4px;
  width: 100%;
  color: var(--font-main-color);
  font-size: var(--font-size-4);
}
.UserSettings .settingBody .settingSelect {
  position: relative;
  padding: 4px 0 10px 0;
  border-bottom: 1px solid var(--color-9);
}
.UserSettings .settingBody .settingSelect .icon {
  display: block;
  width: 16px;
  position: absolute;
  top: 6px;
  right: 0;
}
.UserSettings .settingBody .settingSelect .inputElement {
  background: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  margin-top: 4px;
  width: 100%;
  color: var(--font-main-color);
  font-size: var(--font-size-4);
}
.UserSettings .settingFooter {
  flex: 0 0 auto;
  height: 90px;
}
.UserSettings .settingFooter .saveBtn {
  width: 100%;
}
.UserSettings .basicInfoWrapper {
  display: block;
}
.UserSettings .basicInfoWrapperHidden {
  display: none;
}
.UserSettings .centerWrapper {
  width: 335px;
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 20px;
}
