.chatComponents {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.chatComponents :global(.content-render) {
  margin: 16px 0;
}
.chatComponents :global(.lucide-send) {
  width: 1.2rem;
  height: 1.2rem;
}
.chatComponents :global(#chat-box-bottom) {
  height: 40px;
  width: 100%;
}
.chatComponents :global(.MessageContainer) {
  background-color: var(--color-4);
}
.chatComponents
  :global(.MessageContainer)
  :global(.PullToRefresh)::-webkit-scrollbar {
  display: none;
}
.chatComponents :global(.MessageContainer) :global(.BackBottom) {
  display: none;
}
.chatComponents :global(.MessageList) {
  padding-bottom: 50px;
  --brand-3: var(--color-2);
}
.chatComponents :global(.MessageList) :global(.Message.right) {
  color: var(--color-4);
}
.chatComponents
  :global(.MessageList)
  :global(.Message[data-type='lessonSeparator']) {
  height: 0;
  overflow: hidden;
}
.chatComponents :global(.MessageList) :global(.Message.left) {
  color: var(--font-color-main);
}
.chatComponents :global(.MessageList) :global(.Message.left) :global(.Bubble) {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 7px;
}
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h1:first-child,
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h2:first-child,
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h3:first-child,
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h4:first-child,
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h5:first-child,
.chatComponents
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble)
  h6:first-child {
  margin-top: 0;
}
.chatComponents :global(.MessageList) :global(.Message.left) :global(.Avatar) {
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.chatComponents :global(.MessageList) :global(.Bubble.text) {
  white-space: normal;
}
.chatComponents :global(.MessageList) :global(.Bubble.text) p {
  line-height: 1.8em;
}
.chatComponents :global(.MessageList) :global(.Bubble.text) > p {
  margin-bottom: 1em;
}
.chatComponents :global(.MessageList) :global(.Bubble.text) > p:last-child {
  margin-bottom: 0;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text)
  :global(.ant-image) {
  width: 100%;
}
.chatComponents :global(.MessageList) :global(.Bubble.text ol),
.chatComponents :global(.MessageList) :global(.Bubble.text ul) {
  white-space: normal;
  -webkit-padding-start: 1em;
  padding-inline-start: 1em;
  margin: 0;
  margin-bottom: 1em;
}
.chatComponents :global(.MessageList) :global(.Bubble.text ol):last-child,
.chatComponents :global(.MessageList) :global(.Bubble.text ul):last-child {
  margin-bottom: 0;
}
.chatComponents :global(.MessageList) :global(.Bubble.text ol) :global(li),
.chatComponents :global(.MessageList) :global(.Bubble.text ul) :global(li) {
  margin-top: 0.5em;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text ol)
  :global(li)
  :global(p),
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text ul)
  :global(li)
  :global(p) {
  display: block;
}
.chatComponents :global(.MessageList) :global(.Bubble.text table) {
  background-color: var(--color-5);
  padding: 0px 20px 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 16px;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text table)
  :global(thead tr th) {
  text-align: left;
  font-weight: normal;
  color: var(--color-7);
  padding: 15px;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text table)
  :global(tbody tr:first-child)
  :global(td:first-child) {
  border-top-left-radius: 16px;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text table)
  :global(tbody tr:first-child)
  :global(td:last-child) {
  border-top-right-radius: 16px;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text table)
  :global(tbody tr:last-child)
  :global(td:first-child) {
  border-bottom-left-radius: 16px;
}
.chatComponents
  :global(.MessageList)
  :global(.Bubble.text table)
  :global(tbody tr:last-child)
  :global(td:last-child) {
  border-bottom-right-radius: 16px;
}
.chatComponents :global(.MessageList) :global(.Bubble.text table) :global(td) {
  padding: 15px;
  background-color: var(--color-4);
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.chatComponents.mobile :global(.MessageList) {
  padding-top: 86px;
  padding-bottom: 50px;
}
.chatComponents.mobile
  :global(.MessageList)
  :global(.Message.left)
  :global(.Bubble) {
  margin-right: 0;
}
.chatComponents .messageContentOperation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 50px;
  margin-left: 5px;
}
.chatComponents .brandcolor {
  color: var(--color-21);
}
.chatComponents :global(.scroll-more) {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 130px;
  z-index: 10;
}
.chatComponents :global(.scroll-more) :global(.scroll-more-btn) {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.6);
  border: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  color: var(--brand-1);
  font-size: var(--font-size-sm);
}
.chatComponents :global(.scroll-more) :global(.scroll-more-icon) {
  transform: rotate(90deg);
  font-size: 24px;
  color: rgba(0, 0, 0, 0.45);
}
