.globalInfoButton {
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-8);
  font-size: var(--font-size-2);
  border: 0;
}

.rowIcon {
  width: 1.1em;
}

.policyInfo {
  font-size: 0.8em;
  max-width: 280px;
  padding-top: 1em;
  border-top: 1px solid var(--color-8);
  padding-left: 13px;
  padding-right: 13px;

  .policyInfoRow {
    margin-top: 0.5em;
  }

  .gonganRow {
    display: flex;
    align-items: center;

    .beianIcon {
      width: 0.9em;
      margin-right: 0.2em;
    }
  }
}
