.globalInfoButton {
  background: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 16px;
  border: 1px solid #ddd;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s ease;
}
.globalInfoButton:hover {
  color: #666;
  border-color: #bbb;
}
.rowIcon {
  width: 1.1em;
}
.policyInfo {
  font-size: 0.8em;
  max-width: 280px;
  padding-top: 1em;
  border-top: 1px solid var(--color-8);
  padding-left: 13px;
  padding-right: 13px;
}
.policyInfo .policyInfoRow {
  margin-top: 0.5em;
}
.policyInfo .miitLink,
.policyInfo .miitLink:visited {
  text-decoration: none;
  color: #1890ff;
}
.policyInfo .gonganRow {
  display: flex;
  align-items: center;
}
.policyInfo .gonganRow .beianIcon {
  width: 0.9em;
  margin-right: 0.2em;
}
