.playerContainer {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  height: 88px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  z-index: 2;
  box-sizing: border-box;
}
.playerContainer .interactionContainer {
  width: 664px;
}
.playerContainer .controlGroup {
  display: flex;
  align-items: center;
  gap: 40px;
}
.playerContainer .separator {
  width: 1px;
  min-width: 1px;
  height: 88px;
  background: rgba(0, 0, 0, 0.1);
  flex: 0 0 1px;
}
.playerContainer .controlGroup button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  transition: opacity 0.2s;
}
.playerContainer .controlGroup button:hover {
  opacity: 0.7;
}
.playerContainer .controlGroup button.playButton {
  width: 40px;
  height: 40px;
}
.playerContainer .controlGroup button.playButton svg {
  width: 34px;
  height: 34px;
}
.playerContainer.mobile {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  width: 100%;
  transform: none;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 0;
  box-shadow: none;
  z-index: 1;
}
.playerContainer.mobile .interactionContainer {
  width: 95%;
}
