@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

@layer base {
  :root {
    --background: 0, 0%, 99.6%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 217 89% 50%;
    --primary-lighter: 217 89% 60%;
    --primary-foreground: 210 20% 98%;
    --primary-color: hsl(var(--primary));
    --primary-foreground-color: hsl(var(--primary-foreground));
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: var(--primary);
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 217 89% 50%;
    --primary-lighter: 217 89% 60%;
    --primary-foreground: 210 20% 98%;
    --primary-color: hsl(var(--primary));
    --primary-foreground-color: hsl(var(--primary-foreground));
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: var(--primary);
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    outline: none;
  }
  button:focus {
    outline: none;
  }
}

.dnd-sortable-tree_simple_tree-item {
  border: none !important;
  padding: 0px 4px 0px 0px !important;
  input.title {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.dnd-sortable-tree_simple_wrapper {
  transition: none !important;
  margin-top: 5px;
  border-radius: 4px;
}
.dnd-sortable-tree_simple_wrapper:hover {
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.dnd-sortable-tree_simple_handle {
  display: none !important;
}

/* HACK: mdf-ui not support hsl, so we need to use var(--primary-color) and var(--primary-foreground-color) */
.content-render-theme {
  --primary: var(--primary-color);
  --primary-foreground: var(--primary-foreground-color);
  .markdown-body input {
    min-width: 380px;
    font-size: 16px;
    padding: 6px 12px;
    height: 30px;
    border-radius: var(--border-radius-rounded-md, 8px);
    border: var(--border-width-border, 1px) solid var(--base-input, #e5e5e5);
    /* shadow/xs */
    box-shadow: var(--shadow-xs-offset-x, 0) var(--shadow-xs-offset-y, 1px)
      var(--shadow-xs-blur-radius, 2px) var(--shadow-xs-spread-radius, 0)
      var(--shadow-xs-color, rgba(0, 0, 0, 0.05));
  }
  .markdown-body [type='button'] {
    border-radius: var(--border-radius-rounded-md, 8px);
    color: var(--base-foreground, #0a0a0a);
    font-family: 'PingFang SC';
    font-size: var(--text-xs-font-size, 14px);
    font-style: normal;
    padding: 0 var(--spacing-2, 12px);
    height: 32px;
    font-weight: 400;
    line-height: var(--text-xs-line-height, 16px); /* 133.333% */
    > svg {
      width: 13px;
      height: 13px;
      margin-top: 1px;
    }
  }
  .markdown-body input:focus {
    border-color: var(--primary, #39f);
    box-shadow: 0 0 0 2px rgba(57, 153, 255, 0.1);
  }
  .markdown-body .custom-variable-container span {
    background: #fff;
    box-shadow: var(--shadow-xs-offset-x, 0) var(--shadow-xs-offset-y, 1px)
      var(--shadow-xs-blur-radius, 2px) var(--shadow-xs-spread-radius, 0)
      var(--shadow-xs-color, rgba(0, 0, 0, 0.05));
  }
  &.mobile {
    .custom-variable-container {
      width: 100%;
      > span {
        width: 100%;
      }
    }
    .markdown-body input {
      min-width: 0;
      width: 100%;
    }
  }
  .content-render-custom-button-after-content {
    width: 58px;
    height: 20px;
    gap: 4px;
    font-size: 12px;
    line-height: 1;
    border-radius: 24px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: rgba(26, 104, 235, var(--tw-bg-opacity, 1));
    color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
  }
}
