.navHeader {
  height: 60px;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  transition: width 3s ease;

  &.mobile {
    height: 76px;
  }

  .logoArea {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .actionBtn {
    width: 16px;
    text-align: center;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }
    .icon {
      width: 16px;
      transition: transform 0.3s ease;
      transform: rotate(-180deg);
    }
  }

  &.collapse {
    padding: 15px 0;
    width: 60px;
    flex-flow: column nowrap;

    .actionBtn {
      .icon {
        transform: rotate(0deg);
      }
      margin-bottom: 20px;
    }
  }
}
