.chatInputArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  transition: opacity 0.8s ease;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);


  &.disabled {
    opacity: 0.3;
  }

  .tipText {
    color: var(--color-8);
    font-size: var(--font-size-5);
    display: flex;
    justify-content: center;
    padding: 12px;
  }
}
.controlContainer {
  position: relative;
}

.controlWrapper {
  display: inline-block; /* 使内容在一行 */
  width: calc(100% - 60px); /* 减去按钮的宽度和间距 */
}

.askButton {
  width: 50px; /* 设置宽度 */
  height: 50px; /* 设置高度 */
  border-radius: 50%; /* 设置成圆形 */
  background-color: #0F63EE; /* 设置底色 */
  bottom: 0; /* 靠底 */
}
