.chatInputArea {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  transition: opacity 0.8s ease;
  opacity: 1;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(15px);


  &.disabled {
    opacity: 0.3;
  }

  .tipText {
    color: var(--color-8);
    font-size: var(--font-size-5);
    display: flex;
    justify-content: center;
    padding: 12px;
  }
}
.controlContainer {
  position: relative;
}

.controlWrapper {
  display: inline-block; /* 使内容在一行 */
  width: calc(100% - 60px); /* 减去按钮的宽度和间距 */
}


.controlWrapper {
.askButton {
  width: 60px; /* 设置宽度 */
  height: 60px; /* 设置高度 */
  border-radius: 50%; /* 设置成圆形 */
  // background-color: var(--color-1);/* 设置底色 */

  position: absolute; /* 绝对定位 */
  right: 10px; /* 靠右 */
  bottom: 10px; /* 靠底 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.askButtonContent {
  align-items: center;
  display: flex;
  transition: opacity 0.8s ease;
  flex-direction: column;
}

.askButtonIcon {
  margin-bottom: 5px; /* 图标和文字之间的间距 */
  margin-top: 12px;
  width: 16px;
  height: 16px;
  align-self: center;
}
.askButtonText {
  font-size: 12px;
  color: #fff;
  white-space: nowrap; /* 防止文字换行 */
  overflow: hidden; /* 隐藏超出部分 */
  text-overflow: ellipsis; /* 使用省略号表示超出部分 */

}

}
