.trialNodeBottomArea {
  width: 100%;

  .buttonContent {
    .row1 {
      font-weight: 700;
      font-size: var(--font-size-4)
    }
    .row2 {
      margin-top: 0.5em;
      font-size: var(--font-size-6)
    }
  }
}
